:root {
    --cod-gray-50: #f6f6f6;
    --cod-gray-100: #e7e7e7;
    --cod-gray-200: #d1d1d1;
    --cod-gray-300: #b0b0b0;
    --cod-gray-400: #888888;
    --cod-gray-500: #6d6d6d;
    --cod-gray-600: #5d5d5d;
    --cod-gray-700: #4f4f4f;
    --cod-gray-800: #454545;
    --cod-gray-900: #3d3d3d;
    --cod-gray-950: #121212;
}

/* Dropdown styles */
.menu-dropdown {
    top: 0;
    display: flex;
    flex-direction: column;
    max-width: 13em;
    margin: 80px auto 0;
    position:fixed;
    width: 100%;
}

.dropdown {
    max-width: 13em;
    margin: 80px auto 0;
    position:fixed;
    width: 100%;
}

.dropdown-btn {
    background: var(--cod-gray-800);
    color: var(--cod-gray-50);
    font-size: 18px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1em;
    border-radius: 0em 0.5em 0.5em 0em;
    cursor: pointer;
    border: none;
}

.arrow {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 9px solid var(--cod-gray-50);
    transition: transform ease-in-out 0.3s;
}

.dropdown-content, .sub-dropdown-content {
    list-style: none;
    top: 4em;
    width: 100%;
    visibility: hidden;
    overflow: hidden;
}

.dropdown-content .dropdown-btn, .sub-dropdown-content li {
    background: none;
    border-radius: 0em 0.5em 0.5em 0em;
    position: relative;
    right: 100%;
    transition: 0.5s;
    transition-delay: calc(60ms * var(--delay));
}

.dropdown-content.menu-open .dropdown-btn, .sub-dropdown-content.menu-open li  {
    margin-bottom: 10%;
    background: var(--cod-gray-500);
    right: 0;
}

.dropdown-content.menu-open {
    visibility: visible;
}

.sub-dropdown-content.menu-open {
    visibility: visible;
}

.arrow.arrow-rotate {
    transform: rotate(180deg);
}

.dropdown-content .dropdown-btn:hover {
    background: #1d1f24;
}

.dropdown-content .dropdown-btn button {
    padding: 0.8em 1em;
    color: #fff;
    margin: 0.5em 0;
    text-decoration: none;
}

/* base styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}